<div class="row">
  <div class="col-md-12">
    <app-instructions></app-instructions>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form>
      <div class="card p-3 goldBorder">
        <div class="card-body">
    <div class="form-group">
      <label for="exampleFormControlInput1">Blog Title:</label>
      <input type="text" class="form-control" (input)="onUpdateTitleName($event)">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Author:</label>
      <input type="text" class="form-control" (input)="onUpdateAuthorName($event)">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Blog Topic:</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Food</option>
        <option>Fitness</option>
        <option>Travel</option>
        <option>Fashion</option>
        <option>Celebrity</option>
        <option>TV & Films</option>
        <option>Tech</option>
        <option>Politics</option>
        <option>Humour</option>
        <option>Kpop</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Image Link:</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Write A Blog Summary:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" (input)="onUpdateSummary($event)"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Write Blog Here:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" (input)="onUpdateBlog($event)"></textarea>
    </div>
    <button type="button" class="btn btn-block btn-lg gold">Post Blog</button>
  </div>
</div>
  </form>
  </div>
  <div class="col-md-6">
    <!-- <app-new-blog-display></app-new-blog-display> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card goldBorder">
          <div class="card-body">
            <h3>{{ blogName }} By {{ authorName }}</h3>
            <p>Topic:</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3 goldBorder">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="sidebar-thumb">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Indian-Food-wikicont.jpg"
                class="img-responsive">
            </div>
            <h5>INTRODUCTION:</h5>
            <h6 class="pull-right">{{ summary }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3 goldBorder">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p>{{ blog }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
