<div class="row">
  <div class="col-md-12">
    <div class="card gold mt-3 mb-3">
      <div class="card-body text-center">
        <h1>{{ blogs.title }} By {{ blogs.name }}</h1>
        <h4>A Blog About {{ blogs.topic }}</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3 mb-5 bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="sidebar-thumb pl-2 pt-2 pb-2">
          <img
            [src]="blogs.imageLink"
            class="img-responsive"
            alt="Your Image Here">
        </div>
        <!-- <h4>INTRODUCTION:</h4> -->
        <h4 class="pull-right mt-4 p-3" style="white-space: pre-wrap;">{{ blogs.summary }}</h4>
        <p class="p-3" style="white-space: pre-wrap;">{{ blogs.blog }}</p>
        <button type="button" class="btn btn-danger btn-lg float-right" (click)="onDeleteBlog()"><i class="fa fa-trash mr-1" aria-hidden="true"></i>Delete Blog</button>
        <button type="button" class="btn btn-info  btn-lg float-right mr-3" (click)="onEditBlog()"><i class="fa fa-paint-brush mr-1" aria-hidden="true"></i>Update Blog</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card mt-3 mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <label for="blog">Leave A Comment Here:</label>
              <textarea
                class="form-control"
                rows="3"
                required></textarea>
            </div>
            <button type="button" class="btn btn-primary">Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
