<div *ngFor="let blogs of blogs">
<div class="card gold">
  <div class="card-body text-center">
    <h3>{{ blogs.title }} By {{ blogs.name }}</h3>
      <p></p>
    </div>
  </div>
<div class="card mt-3 yellow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="sidebar-thumb">
          <img
            [src]="blogs.imageLink"
            class="img-responsive"
            alt="Your Image Here">
        </div>
        <h5>INTRODUCTION:</h5>
        <h6 class="pull-right">{{ blogs.summary }}</h6>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3 yellow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <p>{{ blogs.blog }}</p>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="card mt-3 mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <label for="blog">Leave A Comment Here:</label>
              <textarea
                class="form-control"
                rows="3"
                required></textarea>
            </div>
            <button type="button" class="btn btn-primary">Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
</div>
