.gold {
  /* background-color: black; */
  color: white;
  border: 2px solid #FED148;
  padding: 50px;
  background-image: url('../../../../assets/images/note.JPG');
}

.sidebar-thumb{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}
.sidebar-thumb img{
  background: #fff;
  border: 5px dashed #FED148;
  padding: 6px;
  height: 280px;
  width: 280px;

  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
