
<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand navbar-brand gold"routerLink="/"><img src="../assets/images/logo.JPG" style="width:200px; height: 50px; margin:0px;" alt=""></a>
  <div class="navbar-expand">
    <div class="navbar-nav">
      <!-- <a class="nav-link" routerLink="/">Home</a> -->
      <a class="nav-link text-white" routerLink="/blogs">Blogs</a>
      <a class="nav-link text-white" routerLink="/topics">Topics</a>
      <a class="nav-link text-white" routerLink="/addBlog">Add Blog</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/rami0141" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
