
<nav class="navbar navbar-dark bg-dark navbar-expand-md flex-column fixed-top mb-5">
  <a class="navbar-brand navbar-brand m-0 position-md-absolute pb-md-0 gold"routerLink="/">GoldenBlog</a>
  <div class="navbar-expand">
    <div class="navbar-nav">
      <!-- <a class="nav-link" routerLink="/">Home</a> -->
      <a class="nav-link" routerLink="/blogs">Blogs</a>
      <a class="nav-link" routerLink="/topics">Topics</a>
      <a class="nav-link" routerLink="/addBlog">Add Blog</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
