<nav class="navbar navbar-expand-md flex-column fixed-top bg-dark">
 <a class="navbar-brand m-0 pb-3 position-md-absolute pb-md-0 gold" href="#">Gold Blog</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse justify-content-md-center w-80" id="navbarNav">
  <ul class="navbar-nav text-center">
   <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="/view">Popular</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="/topics">Topics</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="/addBlog">Add Blog</a>
   </li>
  </ul>
 </div>
</nav>
