.sidebar-thumb{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}
.sidebar-thumb img{
  background: #fff;
  border: 5px dashed #FED148;
  padding: 6px;
  height: 230px;
  width: 230px;
  margin-right: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

a {
  color: black;
  cursor: pointer;
}

.fa-thumbs-up, .fa-user{
  color: #FED148;
}
