<a
  class="list-group-item clearfix mb-4 bg-light mr-2"
  [routerLink]="[index]">
  <!-- ngFor looping all blogs -->
  <div class="sidebar-thumb">
    <img
      [src]="blogs.imageLink"
      alt="{{ blogs.title }}"
      class="img-responsive img-round">
  </div>
    <h3 class="list-group-item-heading text-center">{{ blogs.title }}</h3>
    <h5 class="text-center"> <i class="fa fa-user mr-2" aria-hidden="true"></i>{{ blogs.name }}</h5>
    <p class="list-group-item-text">{{ blogs.summary }}</p>
    <p class="float-right">Posted: {{ blogs.date | date:'MM/dd/yyyy' }}</p>
</a>
