<div class="row">
  <div class="col-md-12">
    <app-instructions></app-instructions>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-5">
    <!-- Telling Angular that the Form is managed by us and not by Angular -->
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <div class="card p-3 goldBorder">
        <div class="card-body">
          <div class="form-group">
            <label for="title">Blog Title:</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
              (input)="onUpdateTitleName($event)"
              required>

          </div>
          <div class="form-group">
            <label for="name">Author:</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              (input)="onUpdateAuthorName($event)"
              required>
          </div>
          <div class="form-group">
            <label for="topic">Blog Topic:</label>
            <select
              class="form-control"
              id="topic"
              formControlName="topic"
              required>
              <option selected></option>
              <option>Food</option>
              <option>Fitness</option>
              <option>Travel</option>
              <option>Fashion</option>
              <option>Celebrity</option>
              <option>TV & Films</option>
              <option>Tech</option>
              <option>Politics</option>
              <option>Humour</option>
              <option>Kpop</option>
              <option>PETS</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imageLink">Blog Image Link:</label>
            <input
              type="text"
              id="imageLink"
              formControlName="imageLink"
              class="form-control"
              (input)="onUpdateLink($event)"
              required>
          </div>
          <div class="form-group">
            <label for="summary">Write A Blog Summary:</label>
            <textarea
              class="form-control"
              id="summary"
              formControlName="summary"
              rows="6"
              (input)="onUpdateSummary($event)"
              required></textarea>
          </div>
          <div class="form-group">
            <label for="blog">Write Blog Here:</label>
            <textarea
              class="form-control"
              id="blog"
              formControlName="blog"
              rows="15"
              (input)="onUpdateBlog($event)"
              required></textarea>
          </div>
          <button type="submit" class="btn btn-lg gold mr-4" [disabled]="!blogForm.valid">Post Blog</button>
          <button type="button" class="btn btn-lg gold">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 mb-5">
    <!-- <app-new-blog-display></app-new-blog-display> -->
    <div class="card goldBorder">
      <div class="card-body">
        <h3>{{ blogName }} By {{ authorName }}</h3>
          <p>{{ topic }}</p>
        </div>
      </div>
    <div class="card mt-3 goldBorder">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="sidebar-thumb">
              <img
                [src]="imageLink"
                class="img-responsive"
                alt="Your Image Here">
            </div>
            <h5>INTRODUCTION:</h5>
            <h6 class="pull-right">{{ summary }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3 goldBorder">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p>{{ blog }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
