.gold {
  color: white;
  font-size: 16px;
  border: 3px solid #FED148;
  padding: 30px;
  background-image: url('../../../assets/images/note.JPG');
}

.yellow {
  background-color: #fffee0;
}

.white-space {
  width: 200px;
}
.sidebar-thumb{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}
.sidebar-thumb img{
  background: #fff;
  border: 5px dashed #FED148;
  padding: 6px;
  height: 200px;
  width: 200px;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

input, textarea, select, {
  border: 1px solid gray;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
