.gold {
  background-color: black;
  color: white;
  font-size: 16px;
  border: 2px solid #FED148;
}

input, textarea, select, .card {
  border: 1px solid gray;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.sidebar-thumb{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}
.sidebar-thumb img{
  background: #fff;
  border: 5px dashed #FED148;
  padding: 6px;
  height: 200px;
  width: 200px;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

input, textarea, select, .card {
  border: 1px solid gray;
}
