<div class="row mt-5">
  <div class="col-md-12">
    <app-instructions></app-instructions>
  </div>
</div>
<div class="row">
  <div class="col-md-8 mb-5 blog">
    <!-- Telling Angular that the Form is managed by us and not by Angular -->
    <h1 class=" text-center mt-4">Get Creative</h1>
    <form [formGroup]="blogForm" class="clear p-2">
      <div class="card p-3 goldBorder">
        <div class="card-body">
          <div class="form-group">
            <!-- <label for="title">Blog Title:</label> -->
            <input
              type="text"
              id="title"
              formControlName="title"
              [(ngModel)]="title"
              class="form-control"
              (input)="onUpdateTitleName($event)"
              placeholder="Blog Title:"
              name="title"
              required>
          </div>
          <div *ngIf="blogForm.controls['title'].invalid && (blogForm.controls['title'].dirty || blogForm.controls['title'].touched)" class="alert alert-danger">
            <div *ngIf="blogForm.controls['title'].errors.required">
              Blog Title is required.
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="name"
              formControlName="name"
              [(ngModel)]="name"
              class="form-control"
              placeholder="Author:"
              (input)="onUpdateAuthorName($event)"
              name="name"
              required>
          </div>
          <div *ngIf="blogForm.controls['name'].invalid && (blogForm.controls['name'].dirty || blogForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="blogForm.controls['name'].errors.required">
              Authors Name is required.
            </div>
          </div>
          <div class="form-group">
            <select
              class="form-control"
              id="topic"
              [(ngModel)]="topic"
              formControlName="topic"
              required>
              <option selected></option>
              <option>Food</option>
              <option>Fitness</option>
              <option>Travel</option>
              <option>Sports</option>
              <option>Fashion</option>
              <option>Celebrity</option>
              <option>TV & Films</option>
              <option>Tech</option>
              <option>Politics</option>
              <option>Humour</option>
              <option>Kpop</option>
              <option>Pets</option>
            </select>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="imageLink"
              formControlName="imageLink"
              [(ngModel)]="imageLink"
              class="form-control"
              placeholder="Blog Image Link:"
              (input)="onUpdateLink($event)"
              required>
          </div>
          <div *ngIf="blogForm.controls['imageLink'].invalid && (blogForm.controls['imageLink'].dirty || blogForm.controls['imageLink'].touched)" class="alert alert-danger">
            <div *ngIf="blogForm.controls['imageLink'].errors.required">
              Image Link is required
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              id="summary"
              formControlName="summary"
              [(ngModel)]="summary"
              rows="6"
              placeholder="Write A Blog Summary:"
              (input)="onUpdateSummary($event)"
              required></textarea>
          </div>
          <div *ngIf="blogForm.controls['summary'].invalid && (blogForm.controls['summary'].dirty || blogForm.controls['summary'].touched)" class="alert alert-danger">
            <div *ngIf="blogForm.controls['summary'].errors.required">
              Blog Summary is required
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              id="blog"
              formControlName="blog"
              [(ngModel)]="blog"
              rows="15"
              placeholder="Write Blog Here:"
              (input)="onUpdateBlog($event)"
              ng-bind-html-unsafe="newlines"
              required></textarea>
          </div>
          <div *ngIf="blogForm.controls['blog'].invalid && (blogForm.controls['blog'].dirty || blogForm.controls['blog'].touched)" class="alert alert-danger">
            <div *ngIf="blogForm.controls['blog'].errors.required">
              A Blog is required.
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-lg btn-info mr-4 float-right"
            (click)="addBlogs(title, name, topic, imageLink, summary, blog)"
            [disabled]="!blogForm.valid">Post Blog</button>
          <button (click)="reset()" type="button" class="float-right mr-3 btn btn-lg btn-danger">Clear</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4 mb-5">
   <!-- <app-new-blog-display></app-new-blog-display> -->
   <div class="card yellow text-center">
     <div class="card-body">
       <h3>{{ blogName }} By {{ authorName }}</h3>
         <h6>{{ topic }}</h6>
       </div>
     </div>
   <div class="card mt-3 yellow">
     <div class="card-body">
       <div class="row">
         <div class="col-md-12">
           <div class="sidebar-thumb">
             <img
               [src]="imageLink"
               class="img-responsive"
               alt="Your Image Here">
           </div>
           <h5>Blog Summary:</h5>
           <p class="pull-right" style="white-space: pre-wrap;">{{ summary }}</p>
         </div>
       </div>
     </div>
   </div>
   <div class="card mt-3 yellow">
     <div class="card-body">
       <div class="row">
         <div class="col-md-12">
           <p style="white-space: pre-wrap;">{{ blog }}</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
