<div class="container mt-5 mb-5">
  <div class="row">
      <div class="imagebox">
        <a href="#">
          <img
            src="../assets/images/food.PNG"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">FOOD</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACVi63woms/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">FITNESS</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MAC4s3Inczc/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">TRAVEL</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACNTADjepU/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">FASHION</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MAC1YCxxwb0/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">CELEBRITY</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACZWPBsodQ/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">TV & FILMS</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACWWJ_ed9M/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">TECHNOLOGY</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACVsXerxjA/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">POLITICS</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACV36Ak9KQ/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">HUMOUR</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACV46OZauM/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">KPOP</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACZh0kxnX8/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">SPORTS</span>
        </a>
      </div>
      <div class="imagebox">
        <a href="#">
          <img
            src="https://media-public.canva.com/MACNTPzk1qs/1/screen.jpg"
            class="category-banner img-responsive"
            style="height: 220px; width: 220px;">
          <span class="imagebox-desc">PETS</span>
        </a>
      </div>
  </div>
</div>
