<!-- <div class="row">
  <div class="col-md-12">
    <div class="card gold">
      <div class="card-body">
        <h3>Title by Author</h3>
        <p>Topic:</p>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3 gold">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Indian-Food-wikicont.jpg"
          class="float-left img-responsive pr-3"
          style="height: 200px">
        <h5>INTRODUCTION:</h5>
        <h6 class="pull-right">"Lorem ipsum dolor, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."</h6>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3 gold">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
        <p><p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
      </div>
    </div>
  </div>
</div> -->
