<div class="row mt-3">
  <div class="col-md-3">
    <div class="list-group mb-5 text-center" id="list-tab" role="tablist">
      <button class="list-group-item">FOOD</button>
      <button class="list-group-item">FITNESS</button>
      <button class="list-group-item">TRAVEL</button>
      <button class="list-group-item">FASHION</button>
      <button class="list-group-item">CELEBRITY</button>
      <button class="list-group-item">TV & FILMS</button>
      <button class="list-group-item">TECHNOLOGY</button>
      <button class="list-group-item">POLITICS</button>
      <button class="list-group-item">HUMOUR</button>
      <button class="list-group-item">KPOP</button>
      <button class="list-group-item">SPORTS</button>
      <button class="list-group-item">PETS</button>
  </div>
</div>
  <div class="col-md-9">
    <app-blog-preview></app-blog-preview>
    <!-- <app-full-blog-view></app-full-blog-view> -->
  </div>

  <!-- <div class="col-md-5">
    <app-full-blog-detail
      *ngIf="selectedBlog; else infoText"></app-full-blog-detail>
    <ng-template #infoText>
      <h4>CLICK ON A BLOG TO VIEW!</h4>
    </ng-template>
  </div> -->
</div>
