<div class="row mt-3">
  <div class="col-md-3">
    <div class="list-group mb-5 text-center" id="list-tab" role="tablist">
      <a class="list-group-item" href="#">FOOD</a>
      <a class="list-group-item" href="#">FITNESS</a>
      <a class="list-group-item" href="#">TRAVEL</a>
      <a class="list-group-item" href="#">FASHION</a>
      <a class="list-group-item" href="#">CELEBRITY</a>
      <a class="list-group-item" href="#">TV & FILMS</a>
      <a class="list-group-item" href="#">TECHNOLOGY</a>
      <a class="list-group-item" href="#">POLITICS</a>
      <a class="list-group-item" href="#">HUMOUR</a>
      <a class="list-group-item" href="#">KPOP</a>
      <a class="list-group-item" href="#">SPORTS</a>
      <a class="list-group-item" href="#">PETS</a>
  </div>
</div>
  <div class="col-md-4">
    <app-blog-preview></app-blog-preview>
    <!-- <app-full-blog-view></app-full-blog-view> -->
  </div>

  <!-- <div class="col-md-5">
    <app-full-blog-detail
      *ngIf="selectedBlog; else infoText"></app-full-blog-detail>
    <ng-template #infoText>
      <h4>CLICK ON A BLOG TO VIEW!</h4>
    </ng-template>
  </div> -->
</div>
