<div class="row mt-3">
  <div class="col-md-3">
    <div class="list-group mb-5 text-center" id="list-tab" role="tablist">
      <button class="list-group-item" (click)="getSortedBlogs('Food')">FOOD</button>
      <button class="list-group-item" (click)="getSortedBlogs('Fitness')">FITNESS</button>
      <button class="list-group-item" (click)="getSortedBlogs('Travel')">TRAVEL</button>
      <button class="list-group-item" (click)="getSortedBlogs('Fashion')">FASHION</button>
      <button class="list-group-item" (click)="getSortedBlogs('Celebrity')">CELEBRITY</button>
      <button class="list-group-item" (click)="getSortedBlogs('TV & Films')">TV & FILMS</button>
      <button class="list-group-item" (click)="getSortedBlogs('Tech')">TECHNOLOGY</button>
      <button class="list-group-item" (click)="getSortedBlogs('Politics')">POLITICS</button>
      <button class="list-group-item" (click)="getSortedBlogs('Humour')">HUMOUR</button>
      <button class="list-group-item" (click)="getSortedBlogs('Kpop')">KPOP</button>
      <button class="list-group-item" (click)="getSortedBlogs('Sports')">SPORTS</button>
      <button class="list-group-item" (click)="getSortedBlogs('Pets')">PETS</button>
  </div>
</div>
  <div class="col-md-9">
    <app-blog-preview></app-blog-preview>
    <!-- <app-full-blog-view></app-full-blog-view> -->
  </div>

  <!-- <div class="col-md-5">
    <app-full-blog-detail
      *ngIf="selectedBlog; else infoText"></app-full-blog-detail>
    <ng-template #infoText>
      <h4>CLICK ON A BLOG TO VIEW!</h4>
    </ng-template>
  </div> -->
</div>
