.gold {
  color: white;
  text-align: center;
}
.list-group-item {
  background-color: black;
  color: white;
  opacity: 0.8;
  border: 3px solid #FED148;
}

.list-group-item:hover {
  background-color: #FED148;
  color: black;
  font-size: 20px;
  padding: 15px;
  border: 3px solid black;
}

h4 {
  border: 5px dashed #FED148;
  padding: 30px;
  text-align: center;
}

/* #list-tab {
  position: fixed;
  width: 10%;
} */
