<div class="card goldBorder">
  <div class="card-body">
    <h3>{{ blogName }} By {{ authorName }}</h3>
      <p>{{ topic }}</p>
    </div>
  </div>
<div class="card mt-3 goldBorder">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="sidebar-thumb">
          <img
            [src]="imageLink"
            class="img-responsive"
            alt="Your Image Here">
        </div>
        <h5>INTRODUCTION:</h5>
        <h6 class="pull-right">{{ summary }}</h6>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3 goldBorder">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <p>{{ blog }}</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Comment</button>
  </div>
</div>
