<div class="row">
  <div class="col-md-3">
    <div class="list-group mt-5 mb-5 text-center" id="list-tab" role="tablist">
      <a class="list-group-item" href="#">FOOD</a>
      <a class="list-group-item" href="#">FITNESS</a>
      <a class="list-group-item" href="#">TRAVEL</a>
      <a class="list-group-item" href="#">FASHION</a>
      <a class="list-group-item" href="#">CELEBRITY</a>
      <a class="list-group-item" href="#">TV & FILMS</a>
      <a class="list-group-item" href="#">TECHNOLOGY</a>
      <a class="list-group-item" href="#">POLITICS</a>
      <a class="list-group-item" href="#">HUMOUR</a>
      <a class="list-group-item" href="#">KPOP</a>
      <a class="list-group-item" href="#">SPORTS</a>
      <a class="list-group-item" href="#">PETS</a>
  </div>
</div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <app-blog-view></app-blog-view>
  </div>
</div>
