<div class="row">
  <div class="col-md-4">

    <!-- <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACNTADjepU/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">FASHION</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MAC1YCxxwb0/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">CELEBRITY</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACZWPBsodQ/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">TV & FILMS</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACWWJ_ed9M/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">TECHNOLOGY</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACVsXerxjA/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">POLITICS</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACV36Ak9KQ/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">HUMOUR</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACV46OZauM/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">KPOP</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACZh0kxnX8/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">SPORTS</span>
      </a>
    </div>
    <div class="imagebox">
      <a href="#">
        <img
          src="https://media-public.canva.com/MACNTPzk1qs/1/screen.jpg"
          class="category-banner img-responsive"
          style="height: 150px; width: 300px;">
        <span class="imagebox-desc">PETS</span>
      </a>
    </div>
  </div>
</div>
</div> -->

    <div id="list-example" class="list-group mb-5 p-3" >
      <div class="card p-2 bg-dark">
        <div class="card-body">
          <h4 class="text-center gold">BLOG TOPICS</h4>
        </div>
      </div>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="../assets/images/food.PNG"
          class="category-banner img-responsive">
          <span class="imagebox-desc">FOOD</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MACVi63woms/1/screen.jpg"
          class="category-banner img-responsive">
        <span class="imagebox-desc">FITNESS</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MAC4s3Inczc/1/screen.jpg"
          class="category-banner img-responsive">
        <span class="imagebox-desc">TRAVEL</span></a>

      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MACNTADjepU/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">FASHION</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MAC1YCxxwb0/1/screen.jpg"
          class="category-banner img-responsive">
        <span class="imagebox-desc">CELEBRITY</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#list-item-4">
        <img
          src="https://media-public.canva.com/MACZWPBsodQ/1/screen.jpg"
          class="category-banner img-responsive">
        <span class="imagebox-desc">TV & FILMS</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#list-item-4">
        <img
          src="https://media-public.canva.com/MACWWJ_ed9M/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">TECHNOLOGY</span></a>
      <a class="list-group-item list-group-item-action imagebox gold" href="#list-item-4">
        <img
          src="https://media-public.canva.com/MACVsXerxjA/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">POLITICS</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#list-item-4">
        <img
          src="https://media-public.canva.com/MACV36Ak9KQ/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">HUMOUR</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MACV46OZauM/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">KPOP</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MACZh0kxnX8/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">SPORTS</span></a>
      <a class="list-group-item list-group-item-action imagebox" href="#">
        <img
          src="https://media-public.canva.com/MACNTPzk1qs/1/screen.jpg"
          class="category-banner img-responsive">
      <span class="imagebox-desc">PETS</span></a>
      <a class="list-group-item list-group-item-action" href="#"></a>

    </div>
  </div>
  <div class="col-md-7">
    <app-blog-view></app-blog-view>
  </div>
</div>
