<div class="card mb-4 bg-dark gold">
  <div class="card-body text-center">
    <h2 class="mt-5">WELCOME TO GOLDENBLOG</h2>
    <h6>A SITE WHERE YOU CAN WRITE A SHORT STORY AND POST IT FOR OTHERS TO READ</h6>
    <br>
    <p class="mb-5">THIS SITE IS UNDER CONSTRUCTION</p>
  </div>
</div>

<!-- <div class="jumbotron text-center gold">
  <h1 class="display-4">WELCOME TO GOLD BLOG</h1>
  <p class="lead">A SITE WHERE YOU CAN WRITE SHORT STORIES AND POST IT FOR OTHERS TO READ<</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> -->
